<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LandingUrl" value="/login"/>
		<add key="PRODUrl" value="http://the-internet.herokuapp.com"/>
		<add key="QAUrl" value="http://the-internet-qa.herokuapp.com"/>
		<add key="UATUrl" value="http://the-internet-uat.herokuapp.com"/>
	</appSettings>
</configuration>