<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFrameworkVersion>Framework45</TargetFrameworkVersion>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="browser" value="chrome" />
    <Parameter name="environment" value="prod" />
  </TestRunParameters>
</RunSettings>